body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    


}
 header{
    text-align: center;
 }


h1{
    color:darkblue;
    font-size: 36mx;
    text-align: center;

}

h2{
    color:navy;
    font-size: 28px;
    text-align: center;


}

p{
    line-height: 1.6;
    text-align: center;
   

}

img{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 250px;
    


}

ul,ol{
    list-style-position: inside;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: left;



}



a{
    text-align: center;
    list-style-position: inside;






}

footer{
    text-align: center;
}

a.btn-round {
    display: inline-block;
    padding: 6px 15px;
    background-color: #24b4b4;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
}




