body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    


}
 header{
    text-align: center;
 }


h1{
    color:darkblue;
    font-size: 36mx;
    text-align: center;

}

h2{
    color:navy;
    font-size: 28px;
    text-align: center;


}

p{
    line-height: 1.6;
    text-align: center;

}

img{
    display: block;
    margin: 0 auto;
    


}

ul,ol{
    list-style-position: inside; 
    text-align: center;
    padding: o;

     
}


a{
    text-align: center;
    list-style-position: inside;






}

footer{
    text-align: center;
}